[user]
  name = Allen Wu
  email = # email address #

[merge]
  tool = p4merge

[mergetool]
  prompt = false
  keepBackup = true

[color]
  ui     = true
  diff   = auto
  status = auto

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red
  new  = green

[color "status"]
  added   = green
  changed = cyan

[alias]
  s  = status
  co = checkout
  d  = difftool
  c  = commit
  b  = branch
  bi = bisect
  ch = cherry-pick

  # concise log, concise log + graph, concise log with modified files
  l = log  --pretty=format:'%C(red)%h%Creset %C(green)%ad%Creset%C(yellow)%d%Creset %s %C(cyan)(%an)%Creset' --date=short
  lg = log --pretty=format:'%C(red)%h%Creset %C(green)%ad%Creset%C(yellow)%d%Creset %s %C(cyan)(%an)%Creset' --date=short --graph
  lf = log --pretty=format:'%C(red)%h%Creset %C(green)%ad%Creset%C(yellow)%d%Creset %s %C(cyan)(%an)%Creset' --date=short --stat

  this = !git init && git add . && git commit -m \"Initial commit\"
  email = config user.email

  hub = "!zsh -c 'source ~/.zshrc && hub'"
  who = shortlog -n -s --no-merges

  sh = !git stash save --include-untracked "$(git rev-parse --short HEAD) $(git log --format=%B -n1 HEAD) [$(date +'%a %m/%d %H:%M')]"
  list = stash list
  snapshot = !git stash save "[SNAPSHOT] $(git rev-parse --short HEAD) $(git log --format=%B -n1 HEAD) [$(date +'%a %m/%d %H:%M')]" && git stash apply "stash@{0}"

[core]
  excludesfile = /Users/allen/.gitignore

[push]
  default = simple

[diff]
  algorithm = patience
