# This file goes in your home directory and is run every time LLDB starts.
# Importing the script below will make the 'ql' and 'qlf' available to you in LLDB.
# IMPORTANT: Update the path to the script depending on where you decide place it.

command script import ~/dotfiles/xcode/lldb/LLDB-QuickLook/lldb_quick_look.py
command alias ql quicklook

# Recursive description (http://jeffreysambells.com/2013/01/24/debugging-layouts-with-recursive-view-descriptions-in-xcode)
command regex rd 's/^[[:space:]]*$/po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/^(.+)$/po [%1 recursiveDescription]/'

# chisel
command script import ~/dotfiles/xcode/lldb/chisel/fblldb.py

